.Pin {
    border: 5px solid black;
    width: 150px;
    padding: 10px;
}

.Inpt {
    margin-bottom: 5px;
    height: 30px;
}

.Correct {
    border: 5px solid green;
}

.Incorrect {
    border: 5px solid red;
}